h1, h2, h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
}
h1 {
    background-color: #a4d6f6;
}
h2 {
    background-color: #c5e8ff;
}
h3 {
    background-color: #e9f6ff;
}
body {
    font-family: sans-serif;
    padding: 10px 3% 10px 3%;
}
table {
    margin: auto;
    border-spacing: 0px;
}
.headerrow th {
    background-color: azure;
    text-align: center;
    border: 1px solid gray;
}
tr {
    background-color: #e9f6ff;
}
td, th {
    font-family: sans-serif;
    text-align: left;
    padding: 10px;
}

.fileformcontainer {
    padding: 10px;
}

.fileformcontainer table, .fileformcontainer table td {
    background-color: #D6F3F8;
}

.fileformcontainer table{
    padding: 15px;
    border-radius: 20px;
}

.fileformcontainer table td {
    text-align: left;
    /*padding: 5px;*/
}

.fileform {
    display: inline;
}

.fileformtext {
}

.question-icon {
    content: url('data: image/svg+xml;base64,{{question-icon-base64}}');
    width: 15px;
}

#progressarea {
    text-align: center;
}

.loader-icon {
    content: url('data: image/svg+xml;base64,{{loader-icon-base64}}');
}

#progressmessage {
    color: red;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline dotted;
}