h1, h2, h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
}
h1 {
    background-color: #a4d6f6;
}
h2 {
    background-color: #c5e8ff;
}
h3 {
    background-color: #e9f6ff;
}
body {
    font-family: sans-serif;
    padding: 10px 3% 10px 3%;
}

th {
    text-align: center;
    border-bottom: dotted gray 1px;
    font-size: 1.1em;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline dotted;
}

.fileformcontainer {
    padding: 10px;
}

table{
    background-color: #f1fbfc;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
}


.fileform {
    display: inline;
}

.fileformtext {
}

.question-icon {
    content: url('data: image/svg+xml;base64,{{question-icon-base64}}');
    width: 15px;
}

#progressarea {
    text-align: center;
}

.loader-icon {
    content: url('data: image/svg+xml;base64,{{loader-icon-base64}}');
}

.tooltip {
    position: absolute;
    margin: 0px 25px 0px 5px;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
    border-style: dotted;
    background: rgb(254, 251, 239, 0.4);
    font-size: 0.9em;
}
